@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,300..700;0,300..700&family=Roboto+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

.focus-none:focus {
  outline: none;
  border: none;
}

.chakra-ui-dark .active {
  background-color: #424b57;
}

.chakra-ui-light .active {
  background-color: #d0dff3;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.25rem 0;
}

.ProseMirror h2 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.25rem 0;
}

.ProseMirror h3 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.25rem 0;
}

.chakra-ui-dark .ProseMirror code {
  background: rgb(34, 34, 34);
  padding: 0.25rem;
}

.chakra-ui-light .ProseMirror code {
  background: rgb(187, 187, 187);
  padding: 0.25rem;
}

.chakra-ui-dark .ProseMirror blockquote {
  border-left: 4px solid rgb(80, 119, 187);
  padding: 0.25rem 0.5rem;
  margin-left: 0.75rem;
  background: rgb(9, 21, 34);
}

.chakra-ui-light .ProseMirror blockquote {
  border-left: 4px solid rgb(107, 136, 187);
  background: rgb(220, 236, 248);
  padding: 0.25rem 0.5rem;
  margin-left: 0.75rem;
}

.chakra-ui-dark .ProseMirror pre {
  background-color: rgb(27, 27, 27);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  margin: 0.25rem;
}

.chakra-ui-light .ProseMirror pre {
  background-color: rgb(219, 219, 219);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  margin: 0.25rem;
}

.chakra-ui-dark .ProseMirror pre code {
  background: inherit;
  padding: 0;
}

.chakra-ui-light .ProseMirror pre code {
  background: inherit;
  padding: 0;
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror ul,
.ProseMirror ol {
  margin-left: 1rem;
}

ul[data-type='taskList'] {
  list-style: none;
  max-width: max-content;
  margin: 0;
}

ul[data-type='taskList'] p {
  margin: 0;
}

ul[data-type='taskList'] li {
  display: flex;
  padding-left: 0;
  margin: 0;
}

ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

ul[data-type='taskList'] li input {
  accent-color: rgb(11, 86, 179);
  color: rgb(11, 86, 179);
}

ul[data-type='taskList'] li[data-checked='true'] label,
ul[data-type='taskList'] li[data-checked='true'] p {
  text-decoration: line-through;
  color: rgb(97, 97, 97);
}

.ProseMirror table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}
.ProseMirror table td,
.ProseMirror table th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}
.ProseMirror table td > *,
.ProseMirror table th > * {
  margin-bottom: 0;
}
.ProseMirror table th {
  background-color: #f1f3f5;
  font-weight: bold;
  text-align: left;
}
.ProseMirror table .selectedCell:after {
  background: rgba(200, 200, 255, 0.4);
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
.ProseMirror table .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}
.ProseMirror table p {
  margin: 0;
}

.chakra-ui-dark .ProseMirror table th {
  color: rgb(34, 34, 34);
  background-color: #576679;
}

label[data-checked] {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.chakra-ui-dark label[data-checked] {
  color: rgb(88, 88, 88);
}
.chakra-ui-light label[data-checked] {
  color: rgb(128, 128, 128);
}

@media print {
  body {
    background: #fff;
  }
  .ProseMirror {
    overflow-x: none;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}
